/*
File Name: grid.css
Programmer: Thomas Nixon
*/

/*  SECTIONS  */
.section2 {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col2 {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col2:first-child {
    margin-left: 0;
}

/*  GROUPING  */
.group2:before, .group2:after { 
    content: "";
    display: table;
}

.group2:after {
    clear: both;
}

.span_2_of_22, .span_1_of_22 {
        width: 100%;
}

/* TABLET STYLES - GRID OF TWO */

@media only screen and (min-width: 600px) {

.span_2_of_22 {
	width: 100%;
}

.span_1_of_22 {
	width: 49.2%;
}

.col2 {
        margin: 1% 0 1% 1%;
}

.col2:nth-child(3) { 
        margin-left: 0; 
}

}

/* DESKTOP STYLES - GRID OF THREE */

@media only screen and (min-width: 1025px) {

.col2 {
    margin: 1% 0 1% 1.6%;
}

.span_3_of_32 { 
    width: 100%; 
}

.span_2_of_32 { 
    width: 66.13%; 
}

.span_1_of_32 { 
    width: 32.26%; 
}

.col2:nth-child(3) { 
    margin-left: 1%; 
}

}
