/*
File Name: navigation.css
Programmer: Thomas Nixon
*/


/* Modified for mobile-first design */

/* Set up menu */

 
.header2 ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    overflow: hidden;
}

/* space between lines */

.header2 li {
    padding: 10px 0;
}
 
/* remove underline in links. */

.header2 li a {
    text-decoration: none;
    color: #333;
}
 
.header2 li a:hover {
    background-color: #F4F4F4;
}

/* space around each of the menu items */
  
.header2 li a {
    padding: 10px 30px;
}

/* clear float on line below */

.header2 .menu2 {
    clear: both;
    max-height: 0;
    transition: max-height 1s ease-out;
}

/* menu icon for responsive hamburger menu */

.header2 .menu-icon2 { /* location of hamburger icon */
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}
 
.header2 .menu-icon2 .navicon2 { /* center line of hamburger icon */
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
 
.header2 .menu-icon2 .navicon2:before, /* top and bottom lines of hamburger icon */
.header2 .menu-icon2 .navicon2:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
 
.header2 .menu-icon2 .navicon2:before {
    top: 5px;
}
 
.header2 .menu-icon2 .navicon2:after {
    top: -5px;
}

/* respond to click on hamburger menu icon */

.header2 .menu-btn2 { /* hide checkbox */
    display: none;
}
 
.header2 .menu-btn2:checked ~ .menu {
    max-height: 240px;
}
 
.header2 .menu-btn2:checked ~ .menu-icon .navicon {
    background: transparent;
}

/* animations */
 
.header2 .menu-btn2:checked ~ .menu-icon2 .navicon2:before {
    transform: rotate(-45deg);
}
 
.header2 .menu-btn2:checked ~ .menu-icon2 .navicon2:after {
    transform: rotate(45deg);
}
 
.header2 .menu-btn2:checked ~ .menu-icon2:not(.steps2) .navicon:before,
.header2 .menu-btn2:checked ~ .menu-icon2:not(.steps2) .navicon2:after {
    top: 0;
}

/*  TABLET AND DESKTOP*/
@media only screen and (min-width: 600px) {

/* have to clear the float in the intro section so the text won't wrap around the menu. */

.header2 .menu2 {
    float: left;
    margin: 0 0 10px 0;
    max-height: none;
}

.header2 ul {
    overflow: visible;
    margin-bottom: 20px;
}
  
.header2 li {
    float: left;
}
    
.header2 li a {
    padding: 10px 10px;
}
  
#intro2 {
    clear: left;
}
  
/* hide the checkbox and label for it */
  
.header2 .menu-icon2, .menu-btn2 {
    display: none;
}

}

